* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    background: #F8F7F6;
    cursor: url('./cursor-red.svg'), pointer;
    border: none;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}


@font-face {
    font-family: moontime;
    src: url("./moontime.ttf");
}

@font-face {
    font-family: "Josefin Slab";
    src: url("./josefin-slab.ttf");
}

.top-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 2vh;
    height: 7vh;
    color: #595941;
    font-weight: 200;
}

.top-bar-text {
    width: 200px;
    font-style: italic;
    background-color: inherit;
    height: 3vh;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.top-bar-button {
    font-style: italic;
    background-color: inherit;
    height: 5vh;
    margin-left: 8vh;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cross-out {
    text-decoration: line-through;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: inherit;
}

html, body {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 700px 420px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
}

.screen {
    height: 100vh;
    width: 100%;
    display: inline-block;
    align-items: center;
}

.screen-secondary {
    font-style: normal;
    display: flex;
    height: 100vh;
    width: 100%;
    transition: all 1s;
    flex-direction: column;
}

.hide {
    opacity: 0;
    left: -100%;
    font-weight: bolder;
}

.show {
    opacity: 1;
    left: 0;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-weight: 200;
    margin-left: 1vh;
    margin-right: 1vh;
}

.column {
    flex-basis: 100%;
    text-align: center;
}

.section-bullet-points {
    display: flex;
    justify-content: space-around;
    font-weight: 200;
    flex-direction: column;
    margin-left: 1vh;
    margin-right: 1vh;
    align-items: center;
}

.text-statistics {
    margin-bottom: 20px;
}

.section-text {
    text-align: justify;
    text-justify: newspaper;
    padding: 0 10vh;
    font-size: 19px;
}

.section-text-programme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-huge-padding {
    padding: 0 40vh;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bolder;
}

.impact-text {
    color: #595941;
    font-style: italic;
    font-weight: 200;
    font-size: 21px;
}

.left {
    text-align: left;
}

.space {
    margin: 3vh;
}

.space-tiny {
    margin: 1vh;
}

.heading {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading-text {
    font-size: 90px;
    text-align: right;
    justify-content: right;
    font-family: "MoonTime";
    color: #595941;
    font-weight: 300;
}

h2 {
    font-style: italic;
    font-weight: 300;
    color: #595941;
}

.picture {
    display: flex;
    justify-content: left;
    align-items: center;
}

.picture-line {
    width: 27%;
    display: flex;
    margin: 20px auto;
}

.picture-area {
    width: 30vh;
    margin: 0 auto;
}

.picture-building {
    width: 40vh;
}

.picture-bird {
    width: 30vh;
}

.picture-faces {
    width: 45vh;
}

.picture-us {
    width: 40vh;
    margin: 5vh auto;
}


.row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hr {
    width: 100%;
    background: #595941;
}

.reveal {
    width: 480px;
    height: 140px;
    position: relative;
    overflow: hidden;
}

.reveal div {
    position: absolute;
    line-height: 1.8em;
}

.h1 {
    font-size: 6.4em;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.secondary {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3.1em;
}

.p {
    padding: 0.8em 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.white-space {
    width: 100%;
    height: 120px;
}

.nav-item {
    width: 240px;
    border-radius: 0 0 40px 0;
    margin: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item > div {
    padding: 1em;
    font-family: "Helvetica Neue", monospace;
    font-size: 18px;
    text-transform: uppercase;
}

a, .subtext {
    color: #e7dbcc;
    text-underline-color: #595941;
}

.id {
    margin-right: 0.8em;
}

@media (max-width: 1200px) {
    .top-bar {
        font-size: 14px;
    }

    .heading {
        padding-top: 30px;
        flex-direction: column;
    }

    .screen-secondary {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
    }

    .section-text {
        padding: 0 150px;
    }

    .picture-area {
        height: 40vh;
        width: auto;
    }

    .picture-building {
        display: none;
    }
}

@media (max-width: 700px) {
    .section-text {
        padding: 0 20px;
        font-size: 15px;
    }

    .impact-text {
        font-size: 19px;
    }

    .section-text {
        font-weight: 200;
    }

    .picture-line {
        width: 25vh;
    }
}


@media (max-width: 350px) {
    .section-text {
        padding: 0 15px;
        font-size: 14px;
    }

    .impact-text {
        font-size: 16px;
    }

    .space-tiny {
        margin: 10px
    }

    .space {
        margin: 1vh;
    }
}

@media (max-height: 500px) {
    .heading-text {
        font-size: 55px;
    }
    .section-text {
        padding: 0 15px;
        font-size: 14px;
    }

    .impact-text {
        font-size: 16px;
    }

    .space-tiny {
        margin: 10px
    }

    .space {
        margin: 1vh;
    }
}

@media (min-width: 1300px) {
    .container {
        width: 1300px;
    }

    .top-bar {
        width: 1000px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}