* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-style: italic;
    color: #2a2824;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #b2b2a8 url("church.gif");
    background-repeat: no-repeat;
    background-size:  800px 490px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
}

.hr {
    width: 100%;
    height: 1px;
    background: #3e3b36;
}

.reveal{
    width: 480px;
    height: 140px;
    position: relative;
    overflow: hidden;
}

.reveal div {
    position: absolute;
    line-height: 1.8em;
}

.h1 {
    font-size: 6.4em;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.secondary {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 5.1em;
}

.p {
    padding: 0.8em 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.white-space {
    width: 100%;
    height: 120px;
}

.nav-item {
    width: 240px;
    border-radius: 0 0 40px 0;
    margin: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item > div {
    padding: 1em;
    font-family: "Helvetica Neue", monospace;
    font-size: 18px;
    text-transform: uppercase;
}

a, .subtext {
    color: #e7dbcc;
    text-underline-color: #e7dbcc;
}

/*.about {*/
/*    background: #e7dbcc;*/
/*}*/

/*.projects {*/
/*    background: #f18580;*/
/*}*/


/*.contact {*/
/*    background: #e7a92b;*/
/*}*/

.id {
    margin-right: 0.8em;
}

@media(max-width: 900px) {
    .h1 {
        font-size: 2em;
    }

    .p {
        font-size: 8px;
    }
}